html {
  scroll-behavior: smooth;
}

body {
  color: var(--text-color);
  font-family: var(--font-main);
  font-weight: 300;
  font-size: 14px;
  font-style: normal;
  line-height: 18px;
  letter-spacing: 0.6px;
}

.title {
  position: relative;
  display: inline-block;
  font-family: var(--font-accent);
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: var(--title-color);

  &__wrapper {
    text-align: center;
  }
}

.title::after {
  content: '/';
  position: absolute;
  top: 3px;
  right: -45px;
  width: 48px;
  height: 85px;
  font-family: var(--font-accent);
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: var(--accent);
  letter-spacing: 0.6px;
}

@media (max-width: 1200px) {
  .title {
    font-size: 35px;
  }

  .title::after {
    right: -30px;
    width: 30px;
    height: 45px;
    font-size: 50px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 26px;
  }

  .title::after {
    right: -25px;
    width: 25px;
    height: 32px;
    font-size: 35px;
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 20px;
  }

  .title::after {
    right: -20px;
    width: 23px;
    height: 28px;
    font-size: 30px;
  }
}

@media (max-width: 448px) {
  .title::after {
    right: -15px;
  }
}