:root {
  --container-width: 1220px;
  --container-padding: 10px;

  --font-main: 'Roboto Condensed', sans-serif;
  --font-accent: 'Raleway', sans-serif;

  --page-bg: #f8f8f8;
  --text-color: #242121;
  --title-color: #01353E;
  --border-color: #c4c4c4;
  --accent: #00b2a0;
  --light: #ffffff;
  --dark: #0D302C;
}

